@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&display=swap');

:root {
    --text-color: #2a2a2a;
    --accent-color: #888888;
    --contrast-color: #DC4A23;
    --accent-light-color: #C5E1DB;
    --contrast-light-color: #EB9781;
    --bg-body-color: #ebebeb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    min-width: 360px !important;
    font-size: 18px;
    color: var(--text-color);
    background: var(--bg-body-color);
    line-height: 1.4em;
}

h1,
h2 {
    margin-top: 0;
    margin-bottom: .5rem;
    line-height: 1.2em;
}

h1 {
    font-size: 2.5rem;
    line-height: 3.5rem;
    font-weight: 900;
    text-transform: uppercase;
}

h2 {
    font-size: 2.25rem;
    letter-spacing: 1.4px;
    font-weight: 900;
}

@media (max-width: 768px) {
    body {
        font-size: 1rem;
    }

    h2 {
        font-size: 2rem;
        letter-spacing: 0;
    }
}

p {
    margin-bottom: 1rem;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none !important;
}

a:hover {
    color: var(--accent-color);
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

hr {
    margin: 1rem 0;
    color: inherit;
    background-color: currentColor;
    border: 0;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: 0px;
    opacity: .25;
    height: 1px;
}

/* responsive helpers*/
.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}

@media (min-width: 576px) {
    .container {
        max-width: 640px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}



/* buttons */

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-primary {
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
    color: #fff;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background-color: var(--accent-light-color);
    border: 1px solid var(--accent-color);
}

.btn-primary:focus,
.btn-outline-primary:focus {
    box-shadow: 0 0 0 .25rem rgba(121, 186, 171, .5);
}

.btn-outline-primary {
    color: var(--accent-color);
    background-color: white;
    border: 1px solid var(--accent-color);
}

.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:focus {
    color: white;
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
}

.btn-secondary {
    background-color: var(--contrast-color);
    border: 1px solid var(--contrast-color);
    color: #fff;
}

.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus {
    background-color: var(--contrast-light-color);
    border: 1px solid var(--contrast-light-color);
}

.btn-secondary:focus {
    box-shadow: 0 0 0 .25rem rgba(220, 74, 35, .5);
}


/* header and nav */

.header {
    background-color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    position: fixed;
    width: 100%;
    z-index: 10;
    box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, .25);
}

.nav-main .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-logo-img {
    max-height: 35px;
}

.nav-menu {
    display: flex;
    justify-content: center;
}

.nav-menu .nav-item {
    margin-right: 15px;
    font-size: 1rem;
    font-weight: 600;
}

.nav-menu .nav-item.active {
    font-weight: 900;
    border-bottom: 1px dashed #000;
}

.nav-menu .nav-link {
    color: var(--text-color);
    padding: 5px 5px;
    line-height: 1em;
}

.nav-menu .nav-link:hover {
    color: var(--accent-color);
}


@media (max-width: 767px) {
    .nav-logo {
        margin-bottom: 5px;
    }
}

@media (min-width: 768px) {
    .header {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .nav-main .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .nav-logo-img {
        max-height: 54px;
    }
}


/* Footer */

footer {
    margin: 0;
    padding: 30px 0 40px 0;
    background: var(--text-color);
    color: #fff;
}

footer hr {
    border-bottom: 2px solid #fff;
}

.footer-top,
.footer-bottom,
.footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer a:hover {
    opacity: 0.7;
    color: var(--accent-color);
}

.footer-top p {
    font-weight: 600;
    margin-bottom: 10px;
}

.footer-bottom {
    font-size: 0.82rem;
}

.footer-bottom p {
    margin-bottom: 0;
}

.footer-menu {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.footer-menu li {
    margin-right: 15px;
}

.footer-menu li:last-child {
    margin-right: 0;
}

@media (min-width: 768px) {
    .footer-top p {
        max-width: 300px;
        margin-bottom: 0;
    }

    .footer-top,
    .footer-bottom,
    .footer-social {
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

    .footer-menu li {
        margin-left: 15px;
        margin-right: 0;
    }
}

@media (max-width: 767px) {
    .footer-social p {
        font-size: 1rem;
        margin-bottom: 5px;
        font-weight: 400;
    }
}

/* Newsletter section */

.section-newsletter {
    padding-top: 40px !important;
    padding-bottom: 40px;
    position: relative;
    min-height: 283px;
    background: var(--accent-color);
}

.section-newsletter::before {
    content: '';
    background: url(../images/doodle.png) repeat;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    z-index: 0;
}

.section-newsletter .container {
    max-width: 650px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.section-newsletter .newsletter-title {
    font-size: 2.25rem;
    text-transform: uppercase;
    letter-spacing: 1.4px;
}

.section-newsletter p {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.4em;
}

.section-newsletter form {
    max-width: 450px;
    display: flex;
    justify-content: center;
}

.section-newsletter form input {
    margin-right: 15px;
    width: 300px;
}

@media (min-width: 768px) {
    .section-newsletter p {
        font-size: 1.5rem;
        line-height: 1.5em;
    }

}

/* Main content */

main {
    padding-top: 100px;
}

main header {
    margin-bottom: 25px;
}

@media (max-width: 767px) {
    main header {
        text-align: center;
    }

}

.title-lined {
    position: relative;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 40px;
}

.title-lined::before {
    content: "";
    display: block;
    border-top: solid 3px var(--text-color);
    width: 100%;
    height: 3px;
    position: absolute;
    top: 50%;
    z-index: 0;
}

.title-lined span {
    background: var(--bg-body-color);
    padding: 0 15px;
    position: relative;
    z-index: 1;
}



/************************************************************
Home page
*************************************************************/

#home main {
    padding-top: 60px;
}

#home [class|='section'] {
    padding-top: 25px;
    padding-bottom: 25px;
}

#home .section-featured {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/images/treballant.jpg) no-repeat top;    
    position: relative;
    background-size: cover;
    min-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home .section-featured .container-sm {
    max-width: 800px;
}

#home .section-featured h1 {
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    line-height: 56px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    text-transform: initial;
}

#home .section-featured {
    padding-left: 60px;
    padding-right: 60px;
}

@media (min-width: 768px) {
    #home main {
        padding-top: 50px;
    }

    #home .section-featured {
        min-height: 550px;
    }

    #home .section-featured h1 {
        font-size: 4rem;
        line-height: 76px;
        margin-bottom: 40px;
    }
}



